<h1 id="tableLabel">
  Generated passwords
</h1>

<p *ngIf="isLoading">
  <em>Loading...</em>
</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="!isLoading">
  <thead>
    <tr>
      <th>Password</th>
      <th>Expiers-In</th>
      <th>Created On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userGeneratedPassword of userGeneratedPasswords">
      <td>{{ userGeneratedPassword.password }}</td>
      <td>{{ userGeneratedPassword.expiersAt }}</td>
      <td>{{ userGeneratedPassword.createdAt }}</td>
    </tr>
  </tbody>
</table>
