<h1 id="tableLabel">
  Generated passwords
</h1>

<button type="button" class="btn btn-sm btn-primary" title="Generate password" [disabled]="isCreatingNewPassword"
  (click)="generateNewPassword()">
  <ng-container *ngIf="isCreatingNewPassword">
    <i class="fa fa-lg fa-spinner"></i>
  </ng-container>
  <ng-container *ngIf="!isCreatingNewPassword">
    <i class="fa fa-lg fa-plus"></i>
  </ng-container>
  Generate password
</button>

<div class="form-check">
  <input id="displayExpiredPasswords" type="checkbox" class="form-check-input"
    [(ngModel)]="displayExpiredUserGeneratedPasswords">
  <label class="form-check-label" for="displayExpiredPasswords">
    Show expired passwords
  </label>
</div>

<p *ngIf="isLoading">
  <em>Loading...</em>
</p>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Password</th>
      <th>Expired</th>
      <th>Expiers-In</th>
      <th>Created On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userGeneratedPassword of userGeneratedPasswords">
      <td>{{ userGeneratedPassword.password }}</td>
      <td>{{ userGeneratedPassword.isExpired ? 'Yes' : 'No' }}</td>
      <td>{{ userGeneratedPassword.expiersAt | date:'medium' }}</td>
      <td>{{ userGeneratedPassword.createdAt | date:'medium' }}</td>
    </tr>
  </tbody>
</table>
