<h1 id="tableLabel">
  Generated passwords
</h1>

<div class="row g-3">
  <div class="col-2">
    <button type="button" class="btn btn-sm btn-primary" title="Generate password" [disabled]="isCreatingNewPassword"
      (click)="generateNewPassword()">
      <ng-container *ngIf="isCreatingNewPassword">
        <i class="fa fa-lg fa-spinner"></i>
      </ng-container>
      <ng-container *ngIf="!isCreatingNewPassword">
        <i class="fa fa-lg fa-plus"></i>
      </ng-container>
      Generate password
    </button>
  </div>
  <div class="col-2">
    <div class="form-check">
      <input id="displayExpiredPasswords" type="checkbox" class="form-check-input"
        [(ngModel)]="displayExpiredUserGeneratedPasswords">
      <label class="form-check-label" for="displayExpiredPasswords">
        Show expired passwords
      </label>
    </div>
  </div>
  <div class="col-2">
    <div class="form-check">
      <input id="fetchExpiredUserGeneratedPasswords" type="checkbox" class="form-check-input"
        [(ngModel)]="fetchExpiredUserGeneratedPasswords">
      <label class="form-check-label" for="fetchExpiredUserGeneratedPasswords">
        Fetch expired passwords
      </label>
    </div>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-sm btn-secondary" title="Reload" [disabled]="isLoading"
      (click)="refreshData()">
      Reload
    </button>
  </div>
</div>

<p *ngIf="isLoading">
  <em>Loading...</em>
</p>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Password</th>
      <th>Expired</th>
      <th>Expiers-In</th>
      <th>Created On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userGeneratedPassword of userGeneratedPasswords">
      <td>
        <div [ngClass]="userGeneratedPassword.isExpired ? 'text-danger' : 'text-success'">
          {{ userGeneratedPassword.password }}
        </div>
      </td>
      <td>
        <div [ngClass]="userGeneratedPassword.isExpired ? 'text-danger' : 'text-success'">
          {{ userGeneratedPassword.isExpired ? 'Yes' : 'No' }}
        </div>
      </td>
      <td>{{ userGeneratedPassword.expiresInSeconds | date:'mm:ss' }}</td>
      <td>{{ userGeneratedPassword.expiersAt | date:'medium' }}</td>
      <td>{{ userGeneratedPassword.createdAt | date:'medium' }}</td>
    </tr>
  </tbody>
</table>
